{% extends "_padre.html" %} 

{% load static %}

{% block cuerpo %}
    {% if mensaje %}
        <p>Bienvenido  <b>{{ mensaje }}</b> ! <br> Redireccionando en <b><span id="redirecionando">4</span></b></p>
        <script>
            var segundos = 4;
            var redirecionando = document.getElementById("redirecionando");
            var intervalo = setInterval(function(){
                segundos--;
                redirecionando.innerHTML = segundos;
                if(segundos == 0){
                    clearInterval(intervalo);
                    irA("/");
                }
            }, 1000);
        </script>
    {% else %}
        <form action="{% url 'form_ingresar_usuario' %}" method="POST"> {% csrf_token %}
            <table>
        {{ formulario.as_table }}
            </table>
            <input type="submit" value="Ingresar" style="width:100%;">
            <input type="button" value="Cancelar" style="width:100%;" onclick='irA("/")'>
            <br>
            <br><a href="/recuperar" > Olvide mi clave </a><br>
        </form><br><br>
    {% endif %}
{% endblock %} 

