{% extends "padrePosta.html" %} 

{% load static %}

{% block cuerpo %}

<h1>QUIENES SOMOS</h1>

<P>Tomas Abraham tiene xx años, se dedica a xxxxxx y vive en xxxxx, La Pampa. Esta es su primera experiencia en la programacion.</P>
<p>Pablo Olivare tiene xx años, es programador hace otros xx años, especializado en lenguaje PHP. Vive en Montevideo, Uruguay. Es su primera incursion en Python.</p>
<p>Nicolas Villa tiene 35 años, es comunicador y periodista. Vive en Villa Devoto, barrio de Capital Federal, Buenos Aires. Al igual que Tomas, esta es su primera experiencia en el mundo de la programacion.</p>


{% endblock %} 